.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #13a4ec;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  margin-top: -7px; /* (thumb height - track height) / -2 */
  transition: background-color 150ms ease-in-out;
}

.rangeSlider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #13a4ec;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.rangeSlider:disabled::-webkit-slider-thumb {
  background: #9ab;
}

.rangeSlider:disabled::-moz-range-thumb {
  background: #9ab;
}
